<section class="blog-wrp">
	<div class="container">
		<div class="title-bar" data-aos="fade-up" data-aos-duration="500">
			<h2>NEWS FROM OUR BLOG</h2>
		</div>
		<div class="blog-block">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
					<div class="blog-card">
						<div class="blg-img-box">
							<img src="images/blog-img.jpg" alt="">
						</div>
						<div class="blg-det">
							<a href="#"><span> 06 AUG:</span> SIMPLE BLOG POST</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. nostrud nisi
								ut aliqe velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde
								omnis iste natus error sit voluptatem accusantium totam rem aperiam, eaque ipsa quae ab
								illo inventore veritatis et quasi architecto.</p>
							<div class="blog-btn">
								<a href="#" class="shr"><i class="far fa-share-alt"></i></a>
								<a href="#" class="btn-primary">read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="card-box">
						<div class="row">
							<div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
								<div class="blog-card blog-card-dn">
									<div class="blg-det">
										<a href="#"> SIMPLE POST</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt.</p>
										<div class="blog-btn">
											<a href="#" class="shr"><i class="far fa-share-alt"></i></a>
											<a href="#" class="btn-primary">read more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
								<div class="blog-card blog-card-dn">
									<div class="blg-det">
										<a href="#"> SIMPLE POST</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt.</p>
										<div class="blog-btn">
											<a href="#" class="shr"><i class="far fa-share-alt"></i></a>
											<a href="#" class="btn-primary">read more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
								<div class="blog-card">
									<div class="blg-det">
										<a href="#"> SIMPLE POST</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt.</p>
										<div class="blog-btn">
											<a href="#" class="shr"><i class="far fa-share-alt"></i></a>
											<a href="#" class="btn-primary">read more</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
								<div class="blog-card">
									<div class="blg-det">
										<a href="#"> SIMPLE POST</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt.</p>
										<div class="blog-btn">
											<a href="#" class="shr"><i class="far fa-share-alt"></i></a>
											<a href="#" class="btn-primary">read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>