<section class="god-way-wrp">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="way-block" data-aos="fade-right" data-aos-duration="1000">
					<h2><span> LET’S DO</span>IT GOD’S <br> WAY</h2>
					<ul>
						<li>
							<p><i class="fal fa-book-alt fa-flip-vertical"></i><span> Speaker:</span> Pastor John
								Anderson</p>
						</li>
						<li>
							<p><i class="fal fa-clock"></i> <span> Date:</span> 16 August 2017, 18:00 am </p>
						</li>
						<li>
							<p><i class="fal fa-map-marker-alt"></i><span> Location:</span> Local Church 233 Main St.
							</p>
						</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="btn-primary">More Details</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="way-img-box">
					<img src="images/way-img.jpg" alt="" data-aos="fade-up" data-aos-duration="1000">
					<div id="counter1">
						<div class="count-list" data-aos="fade-up" data-aos-duration="1000">
							<h2 class="box" id="days1"></h2>
							<h2 class="box" id="hours1"></h2>
							<h2 class="box" id="minutes1"></h2>
							<h2 class="box box-ls" id="seconds1"></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="communtiy-wrp">
	<div class="commu-detail" data-aos="fade-up" data-aos-duration="1000">
		<h4>SUNDAY MEETING</h4>
		<h2>COMMUNITY GROUP TRAINING</h2>
		<p>SUNDAYS 8:15AM, 10AM, 11:45AM</p>
		<a href="#" class="btn-secondary">view more</a>
	</div>
</section>

<section class="count-down-wrp">
	<div class="container">
		<div class="count-block">
			<div class="row">
				<div class="col-md-3 col-sm-12" data-aos="fade-right" data-aos-duration="1000">
					<h2>NEXT ONLINE EXPERIENCE IN</h2>
				</div>
				<div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
					<div id="counter2">
						<div class="count-list">
							<h2 class="box" id="days2"></h2>
							<h2 class="box" id="hours2"></h2>
							<h2 class="box" id="minutes2"></h2>
							<h2 class="box box-ls" id="seconds2"></h2>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
					<a href="#" class="btn-secondary">view more</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mission-wrp">
	<div class="container">
		<div class="mission-bkl" data-aos="fade-up" data-aos-duration="1000">
			<h2>OUR MISSION</h2>
			<p>Lorem ipsum dolor sit amet, aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad mini veniam. quis nostrud exercitation ullamco.</p>
		</div>
	</div>
	<div class="miss-box">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="miss-det miss-det-rd">
					<div data-aos="fade-right" data-aos-duration="1000">
						<h2>01.</h2>
						<h4>HELPING PEOPLE WHO NEED IT </h4>
						<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et
							dolore. Ut enim ad mini veniam, quis nostrud exercitation ullamco laboris nisi ut!</p>
						<a href="#" class="btn-primary">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="miss-img-box" data-aos="fade-in" data-aos-duration="1000">
					<img src="images/mis-img1.jpg" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="miss-det miss-det-og">
					<div data-aos="fade-left" data-aos-duration="1000">
						<h2>02.</h2>
						<h4>TEACH CHILDREN TO LOVE GOD </h4>
						<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et
							dolore. Ut enim ad mini veniam, quis nostrud exercitation ullamco laboris nisi ut!</p>
						<a href="#" class="btn-primary">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="miss-img-box" data-aos="fade-in" data-aos-duration="1000">
					<img src="images/mis-img2.jpg" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="miss-det miss-det-yl">
					<div data-aos="fade-up" data-aos-duration="1000">
						<h2>03.</h2>
						<h4>HELPING PEOPLE WHO NEED IT</h4>
						<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et
							dolore. Ut enim ad mini veniam, quis nostrud exercitation ullamco laboris nisi ut!</p>
						<a href="#" class="btn-primary">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="miss-img-box" data-aos="fade-in" data-aos-duration="1000">
					<img src="images/mis-img3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="leader-wrp">
	<div class="lead-bg">
		<div class="lead-block" data-aos="fade-up" data-aos-duration="1000">
			<h2>OUR LEADERSHIP</h2>
			<p>Lorem ipsum dolor sit amet, aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad mini veniam. quis nostrud exercitation ullam</p>
		</div>
	</div>
	<div class="leader-pro">
		<div class="container">
			<div class="leader-detail">
				<div class="row">
					<div class="col-md-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
						<div class="pro-card">
							<div class="pro-img-box">
								<img src="images/pro-img1.jpg" alt="">
							</div>
							<h4>JACKIE JACKSON</h4>
							<h6>Sunday School Head</h6>
							<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi
								labore et dolore.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
						<div class="pro-card">
							<div class="pro-img-box">
								<img src="images/pro-img2.jpg" alt="">
							</div>
							<h4>CASSANDRA LYNN</h4>
							<h6>Lead Pastor</h6>
							<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi
								labore et dolore.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
						<div class="pro-card">
							<div class="pro-img-box">
								<img src="images/pro-img3.jpg" alt="">
							</div>
							<h4>KENNETH DIAZ</h4>
							<h6>Sunday School Head</h6>
							<p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi
								labore et dolore.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="online-py-wrp">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1000">
				<div class="online-img-box">
					<img src="images/giv-img.jpg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
				<div class="online-block">
					<h4>GIVE ONLINE</h4>
					<h2>GOD MULTIPLIES WHAT WE GIVE</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
						sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
						adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
					<a href="#" class="btn-primary">Donate now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sermon-wrp">
	<div class="container">
		<div class="sermon-block" data-aos="fade-right" data-aos-duration="1000">
			<h2>SERMONS FOR YOUR SOUL</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis
				aute irure dolor in reprehenderit in voluptate.</p>
			<a href="#" class="btn-primary">all sermons</a>
		</div>
	</div>
</section>

<section class="upcoming-wrp">
	<div class="upcoming-block" data-aos="fade-up" data-aos-duration="1000">
		<h2>UPCOMING EVENTS</h2>
		<p>Lorem ipsum dolor sit amet, aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad mini veniam. quis nostrud exercitation ullamco.</p>
	</div>
	<div class="upcoming-list-block">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="list-box title-box" data-aos="fade-right" data-aos-duration="1000">
					<h2>2020<span> AUGUST</span></h2>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="list-box" data-aos="fade-left" data-aos-duration="1000">
					<h4>THE FIVE POINTS OF GOSPEL TRUTH</h4>
					<ul>
						<li>
							<p><i class="fal fa-book-alt fa-flip-vertical"></i><span> Speaker:</span> Pastor John
								Anderson</p>
						</li>
						<li>
							<p><i class="fal fa-clock"></i> <span> Date:</span> 16 August 2017, 18:00 am </p>
						</li>
						<li>
							<p><i class="fal fa-map-marker-alt"></i><span> Location:</span> Local Church 233 Main St.
							</p>
						</li>
					</ul>
					<a href="#" class="btn-primary">more</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="list-box" data-aos="fade-left" data-aos-duration="1000">
					<h4>DEVELOPING A SPIRITUAL MENTALITY</h4>
					<ul>
						<li>
							<p><i class="fal fa-book-alt fa-flip-vertical"></i><span> Speaker:</span> Pastor John
								Anderson</p>
						</li>
						<li>
							<p><i class="fal fa-clock"></i> <span> Date:</span> 16 August 2017, 18:00 am </p>
						</li>
						<li>
							<p><i class="fal fa-map-marker-alt"></i><span> Location:</span> Local Church 233 Main St.
							</p>
						</li>
					</ul>
					<a href="#" class="btn-primary">more</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="list-box" data-aos="fade-left" data-aos-duration="1000">
					<h4>BUILDING HOLY & HEALTHY LIVES TOGETHER</h4>
					<ul>
						<li>
							<p><i class="fal fa-book-alt fa-flip-vertical"></i><span> Speaker:</span> Pastor John
								Anderson</p>
						</li>
						<li>
							<p><i class="fal fa-clock"></i> <span> Date:</span> 16 August 2017, 18:00 am </p>
						</li>
						<li>
							<p><i class="fal fa-map-marker-alt"></i><span> Location:</span> Local Church 233 Main St.
							</p>
						</li>
					</ul>
					<a href="#" class="btn-primary">more</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="where-wrp">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="where-block" data-aos="fade-up" data-aos-duration="500">
					<h2>WHERE’S GOD IN ALL OF THIS?</h2>
					<h5>JACKIE JACKSON</h5>
					<h6>Lead Pastor</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea
						commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
						eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
					<a href="#" class="btn-primary">all video</a>
				</div>
			</div>
			<div class="col-lg-8 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="500">
				<a class="where-img-box" data-fancybox data-width="840" data-height="460"
					href="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4">
					<img src="images/where-img.jpg" />
					<img src="images/video.svg" class="vid">
				</a>
			</div>
		</div>
	</div>
</section>
