<section class="great-plan-wrp">
	<div class="container">
		<div data-aos="fade-up" data-aos-duration="500">
			<h3>PERFORMANCE OF A MUSICAL GROUP</h3>
			<h2>GREAT PLAN FOR YOUR LIFE</h2>
			<a class="gt-img" data-fancybox data-width="840" data-height="460"
				href="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4">
				<h6><i class="fal fa-play-circle"></i></h6>
			</a>
		</div>
	</div>
</section>

<section class="hr-cont-wrp">
	<div class="row">
		<div class="col-md-4 col-sm-12" data-aos="fade-in" data-aos-duration="500">
			<div class="contact-box contact-box-rd">
				<p><i class="fal fa-map-marker-alt"></i></p>
				<h4>LOCATION</h4>
				<h6>Local Church 233 Main St.</h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-12" data-aos="fade-in" data-aos-duration="1000">
			<div class="contact-box contact-box-og">
				<p><i class="far fa-clock"></i></p>
				<h4>DATE</h4>
				<h6>16 August 2018, 18:00 am </h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-12" data-aos="fade-in" data-aos-duration="1500">
			<div class="contact-box contact-box-yl">
				<p><i class="far fa-envelope"></i></p>
				<h4>EMAIL</h4>
				<h6>info@domain.ltd</h6>
			</div>
		</div>
	</div>
</section>