<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 ft-lw">
				<h5>2020 © Copyrights CodexThemes</h5>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 ft-md">
				<div class="links">
					<ul>
						<li><a href="#">Support</a> </li>
						<li><a href="#">Contact Us</a> </li>
						<li><a href="#">Disclaimer</a> </li>
						<li><a href="#">Privacy Policy</a> </li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 ft-tp">
				<div class="social-link">
					<ul>
						<li><a href="#" class="soc-link"><i class="fas fa-phone-alt"></i></a></li>
						<li><a href="#" class="soc-link"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="#" class="soc-link"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" class="soc-link"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" class="soc-link"><i class="fab fa-pinterest-p"></i></a></li>
						<li><a href="#" class="soc-link"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>