<section class="gallery-wrp">
	<div class="container">
		<div class="title-bar" data-aos="fade-up" data-aos-duration="500">
			<h2>FROM THE GALLERY</h2>
			<p>Lorem ipsum dolor sit amet, aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad mini veniam. quis nostrud exercitation ullamco.</p>
		</div>
		<div class="gallery-block">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="gal-img-box" data-aos="fade-up" data-aos-duration="500">
						<a href="images/gal-img1.jpg" data-fancybox="group">
							<img src="images/gal-img1.jpg" />
							<h6><i class="fal fa-camera"></i></h6>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="gal-img-box mg-dn" data-aos="fade-up" data-aos-duration="500">
						<a href="images/gal-img2.jpg" data-fancybox="group">
							<img src="images/gal-img2.jpg" />
							<h6><i class="fal fa-camera"></i></h6>
						</a>
					</div>
					<div class="gal-img-box" data-aos="fade-up" data-aos-duration="500">
						<a href="images/gal-img3.jpg" data-fancybox="group">
							<img src="images/gal-img3.jpg" />
							<h6><i class="fal fa-camera"></i></h6>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="gal-img-box mg-dn" data-aos="fade-up" data-aos-duration="500">
						<a href="images/gal-img4.jpg" data-fancybox="group">
							<img src="images/gal-img4.jpg" />
							<h6><i class="fal fa-camera"></i></h6>
						</a>
					</div>
					<div class="gal-img-box" data-aos="fade-up" data-aos-duration="500">
						<a href="images/gal-img5.jpg" data-fancybox="group">
							<img src="images/gal-img5.jpg" />
							<h6><i class="fal fa-camera"></i></h6>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-box" data-aos="fade-up" data-aos-duration="500">
			<a href="#" class="btn-primary">All Gallery</a>
		</div>
	</div>
</section>