<!-- Header -->
<header>
	<div class="top-bar">
		<div class="container">
			<div class="top-ad">
				<ul>
					<li><a href="#"><i class="fal fa-map-marker-alt"></i> 19th Ave New York, NY 95822, USA</a> </li>
					<li><a href="tel:+1 916-85-2235"><i class="fas fa-phone-alt"></i> +1 916-85-2235</a> </li>
				</ul>
			</div>
			<div class="top-so">
				<ul>
					<li><a href="#" class="soc-link"><i class="fas fa-phone-alt"></i></a></li>
					<li><a href="#" class="soc-link"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="#" class="soc-link"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#" class="soc-link"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#" class="soc-link"><i class="fab fa-pinterest-p"></i></a></li>
					<li><a href="#" class="soc-link"><i class="fab fa-youtube"></i></a></li>
					<li><a href="#" class="btn-primary">Give Online</a> </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<a class="navbar-brand lg-md" href="index.html"><img src="images/logo.webp" alt="Logo" /></a>
		<nav class="navbar navbar-expand-md navbar-light">
			<a class="navbar-brand lg-sm" href="index.html"><img src="images/logo.png" alt="Logo" /></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggle"
				aria-controls="NavbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse navbar-collapse-hd" id="NavbarToggle">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="#">OUR MISSION</a></li>
					<li><a class="nav-link" href="#">Team</a></li>
					<li><a class="nav-link" href="#">Sermons</a></li>
					<li><a class="nav-link" href="#">Upcoming</a></li>
					<li><a class="nav-link" href="#">Insight</a></li>
					<li><a class="nav-link" href="#">News & Event</a></li>
					<li><a class="nav-link" href="#">Join us now</a></li>
					<li>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="far fa-search"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<form>
									<div class="form-group">
										<input type="search" name="search" placeholder="Search...">
										<button><i class="far fa-search"></i></button>
									</div>
								</form>
							</div>
						</div>
						<form>
							<div class="form-group">
								<input type="search" name="search" placeholder="Search...">
								<button><i class="far fa-search"></i></button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<!-- End Header -->