<section class="hero-wrp">
	<div class="hero-slider">
		<div>
			<div class="hero-box">
				<div class="videofrm">
					<img src="images/hero-slider1.jpg" alt="">
				</div>
				<div class="hero-detail">
					<div class="container">
						<div class="slide1-detail">
							<h5>MAKE A MIRACLE HAPPEN</h5>
							<h2>ONE OF A MILLION <br> MIRACLES</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								<br>incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
							<a href="#" class="btn-secondary">READ MORE</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="hero-box">
				<div class="videofrm">
					<img src="images/hero-slider2.jpg" alt="">
				</div>
				<div class="hero-detail">
					<div class="container">
						<div class="slide2-detail">
							<h4>THEGEM CHURCH</h4>
							<h2>CHOOSE</h2>
							<h5>THE RIGHT WAY</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="hero-box">
				<div class="videofrm">
					<video playsinline="" preload="" autoplay="" muted="" loop="">
						<source src="images/travel-video.mp4" type="video/webm" />
						<source src="images/travel-video.mp4" type="video/mp4" />
					</video>
				</div>
				<div class="hero-detail">
					<div class="container">
						<div class="slide3-detail">
							<h2>SOVEREIGN GRACE MUSIC</h2>
							<h1>WHEN <span class="txt1">YOU</span> <span class="txt2">MOVE</span> </h1>
							<p>WORDS AND MUSIC BY STEVE AND VIKKI COOK</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>