<section class="news-letter-wrp">
	<div class="container">
		<div class="news-letter-block" data-aos="fade-up" data-aos-duration="1000">
			<h2>SIGN UP TO NEWSLETTER</h2>
			<p>Lorem ipsum dolor sit amet, aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad mini veniam. quis nostrud exercitation ullamco.</p>
			<form>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Your email address">
				</div>
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</section>