<section class="testimonial-wrp">
	<div class="test-slider">
		<div>
			<div class="test-card">
				<div class="test-img-box">
					<img src="images/pro-img-1.jpg" alt="">
				</div>
				<h5>CHURCH VISITOR</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat.</p>
				<h6>"</h6>
			</div>
		</div>
		<div>
			<div class="test-card">
				<div class="test-img-box">
					<img src="images/pro-img-2.jpg" alt="">
				</div>
				<h5>CHURCH VISITOR</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat.</p>
				<h6>"</h6>
			</div>
		</div>
	</div>
</section>